@using OCC.UI.Webhost.Models

@model List<Track>

@{
    ViewBag.Title = "Agenda";
}

<h3>Agenda</h3>

<ul>

@foreach (var track in ViewData.Model)
{
    <li>@track.Name</li>
    
    <ul>

    @foreach (var session in track.Sessions)
    {
        @*<li>@session.Name - @session.Speaker</li>*@
        <li>
            @Html.ActionLink(session.Name, "Details", "Session", new { session.ID }, null)  
            - 
            @Html.ActionLink(session.Speaker, "Details", "Speaker", new { session.SpeakerID }, null)  
        </li>
    }

    </ul>
}

</ul>