@using OCC.UI.Webhost.Models;

@model Event

@{
    ViewBag.Title = "Venue";
}

<h3>Venue</h3>

<pre>
TODO: bing map

@ViewData.Model.Address1
@ViewData.Model.Address2
@ViewData.Model.City @ViewData.Model.State @ViewData.Model.Zip
</pre>