@model OCC.UI.Webhost.Models.Speaker

@{
    ViewBag.Title = "Create Speaker";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Speaker</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bio)
            @Html.ValidationMessageFor(model => model.Bio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WebSite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebSite)
            @Html.ValidationMessageFor(model => model.WebSite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Blog)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Blog)
            @Html.ValidationMessageFor(model => model.Blog)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TwitterHandle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TwitterHandle)
            @Html.ValidationMessageFor(model => model.TwitterHandle)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
