@model OCC.UI.Webhost.Models.Speaker

@{
    ViewBag.Title = "Speaker";
}

<h3>@ViewData.Model.Name</h3>

<div class="field-name">Title</div>
<div class="field-value">@ViewData.Model.Title</div>

<div class="field-name">E-mail</div>
<div class="field-value">@ViewData.Model.Email</div>

<div class="field-name">Twitter</div>
<div class="field-value">@ViewData.Model.Twitter</div>

<div class="field-name">Website</div>
<div class="field-value">@ViewData.Model.Website</div>

<div class="field-name">Blog</div>
<div class="field-value">@ViewData.Model.Blog</div>
