@model IEnumerable<OCC.UI.Webhost.Models.Speaker>

@{
    ViewBag.Title = "Speakers";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Email
        </th>
        <th>
            Name
        </th>
        <th>
            Title
        </th>
        <th>
            Bio
        </th>
        <th>
            WebSite
        </th>
        <th>
            Blog
        </th>
        <th>
            TwitterHandle
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebSite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwitterHandle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
